.prodcart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    width: 100%;
    max-width: 20em;
  }
  .prodcart__header {
    padding: 0;
    width: 100%;
    aspect-ratio: 1.7;
    display: flex;
    justify-content: center;
    align-self: center;
    
  }
  .prodcart__title{
    font-size: 1rem;
    font-weight: 500;
  }
  .prodcart__btn_delete{
    font-size: 1.2rem;
    width: 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red ;
    color: white;
    transition: transform 200ms ease;
  }
  .prodcart__delete:hover{
    transform: scale(1.1);
    filter: brightness(1.15)
  }
  .prodcart__footer{
    grid-column: span;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 3em;
  }
  .prodcart__quantity{
    border: 1px solid #cc9;
    padding: 0.2em 1em;
  }
  .prodcart__subtotal{
    display: flex;
    align-items: end;
    gap: 1em;
  }
  .prodcart__subtotal-label{
    font-weight: 300;
    font-size: 0.9rem;
  }
  .prodcart__subtotal-value{
    font-weight: 700;
  }
  .prodcart__subtotal-value::before{
    content: '$';
    padding-right: 0.3em;
  }
  .prodcart__btn_delete{ 
    color: white;
    background-color: #bd1717;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
justify-content: center;
align-items: center;
    right: 2em;
    bottom: 1.5em;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .prodcart__btn_delete:hover{
    filter: brightness(1.2);
  }

